.lonely{
    margin: 0 35px;
}
#mynav{
    width: 100%;
    position: fixed;
    top: 0%;
    z-index: 1;
}
#mainpage{
    margin-top: 4%;
}

span{
    color: aliceblue;
}
#badge{
    position: relative;
    left: 12%;
    color: white;
    background-color: red;
    /* z-index: -1; */
}
.start-100 {
    left: 10%!important;
}
